<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoony.kotlinsample">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".memo.application.DemoMemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui_example.collapsing_toolbar_layout.UIExampleActivity3"
            android:label="@string/title_activity_u_i_example3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".memo.intro.IntroActivity" />
        <activity
            android:name=".memo.detail.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".memo.list.ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName="androidx.appcompat.app.AppCompatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidx.appcompat.app.AppCompatActivity" />
        </activity>
        <activity android:name=".memo.main.MainActivity" />
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".content_provider.list.ListActivity" />
        <activity android:name=".content_provider.contact.ContactActivity" />
        <activity android:name=".content_provider.audio.AudioActivity" />
        <activity android:name=".content_provider.video.list.VideoActivity" />
        <activity android:name=".custom_view.smile_emoticon_example.CustomViewActivity" />
        <activity android:name=".saved_state_view_model.SavedStateViewModelActivity" />
        <activity android:name=".dagger.example1.DaggerExample1Activity" />
        <activity android:name=".dagger.list.DaggerExampleListActivity" />
        <activity android:name=".rx_java.list.RxJavaExampleListActivity" />
        <activity android:name=".rx_java.example1.RxJavaExample1Activity" />
        <activity android:name=".dagger.example2.DaggerExample2Activity" />
        <activity android:name=".ui_example.view_pager_with_recycler_view.UIExampleActivity1" />
        <activity android:name=".ui_example.list.UiListActivity" />
        <activity android:name=".ui_example.view_pager_in_recycler_view.UIExample2Activity" />
        <activity android:name=".sticky_item_decoration.StickyItemDecorationActivity" />
        <activity android:name=".behavior.list.ListActivity" />
        <activity android:name=".behavior.floating_button_example.BehaviorActivity1" />
        <activity android:name=".behavior.nested_scroll_view_example.BehaviorActivity2" />
        <activity android:name=".behavior.scroll_example_1.BehaviorExampleActivity3" />
        <activity android:name=".behavior.scroll_example_2.BehaviorExampleActivity4" />
        <activity android:name=".behavior.scroll_example_3.BehaviorExampleActivity5" />
        <activity android:name=".custom_view.list.ListActivity" />
        <activity android:name=".custom_view.layout_contain_view_pager_example.CustomVIewActivity2" />
        <activity android:name=".content_provider.galley.GalleryActivity" />

        <receiver android:name=".memo.broadcast_receiver.AlarmTool" />
    </application>

</manifest>